*{
    padding: 0;
    margin: 0;

}
body{
    background-color: rgb(236, 197, 149);
}
ul {
    list-style-type: none;
}
a{
    text-decoration-line: none;
    color: #3A3845;
}
.container{
    width: 80%;
    margin: auto;
}
.header .container{
    color: #3A3845;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: white;
}
.header .logo{
    padding: 21.84px 0px;

}
.header .list ul{
    display: flex;
    box-sizing: border-box;
    gap: 60px;
}
.header .icons ul{
    display: flex;
    box-sizing: border-box;
    gap: 24px;
}